<div class="discount-category__navbar discount-category__navbar_stable">
      <nav class="menu col-12 d-flex justify-content-center navbar navbar-expand-lg">
        <button class="navbar-toggler promo-catalog__filter-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          Фильтрация <img src="img/btn-arrow.svg">
        </button>
        <div class="navbar-collapse collapse promo-catalog__filter_navbar" id="navbarSupportedContent" style="">
         <ul class="navbar-nav mr-auto promo-nav">
           <h2 class="discount-category__caption">Категории</h2>
           <div class="discount-category">

             <div id="filter-manufacture" class="filter-list collapse show">
               <div class="filter-list__container">
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Кухни и бытовая техника</span>
                   <p class="filter__num">4</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Кухонные аксессуары</span>
                   <p class="filter__num">12</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Кровати</span>
                   <p class="filter__num">33</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Матрасы</span>
                   <p class="filter__num">54</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Столы</span>
                   <p class="filter__num">123</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Cтулья</span>
                   <p class="filter__num">533</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Мягкая мебель</span>
                   <p class="filter__num">13</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Хранение одежды и обуви</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Мебель и сантехника для ванной</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Зеркала</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
                 <div class="filter-list__item">
                   <label>
                   <input class="filter__checkbox" type="checkbox">
                   <span class="filter__checkbox-custom"></span>
                   <span class="filter__name">Хранение одежды и обуви</span>
                   <p class="filter__num">23</p>
                 </label>
                 </div>
               </div>
               <!-- /filter-list__container -->
               <div class="filter__show-more">
                 <span class="filter__show-text">ещё</span>
                 <div class="filter__show-more-dots">
                   <span></span>
                   <span></span>
                   <span></span>
                 </div>
               </div>
             </div>

           </div>

           <!-- <a href="#" class="discount__link">
             Как это работает?
           </a> -->
           <button type="button" class="discount-btn" data-toggle="modal" data-target="#exampleModalCenter">
             Разместить промокод
           </button>
         </ul>
      </div>
      </nav>
</div>


