<section>
  <div class="container">
    <div class="promo-card__shops">
      <div class="promo-title__wrap d-flex">
        <h2 class="promo-card__shops-caption">Магазины</h2>
        <a class="promo-title__wrap_link" href="#">Смотреть все</a> 
      </div>
      <div class="row">
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
        <div class="col-md-2 col-6">
          <a href="#" class="cards__item">
            <div class="cards__img d-flex align-items-center justify-content-center">
              <img src="/img/1.png" alt="">
            </div>
            <div class="cards__pre-offers">
              <span href="#" class="cards__offers">36 предложений</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="coups-list">
      <h2 class="promo-card__shops-caption d-flex align-items-center">Горячие предложения</h2>
      <div class="row">
        <div class="col-md-3">
          <div class="coups__item">
            <div class="row">
              <div class="col-12">
                <h6 class="coups__item-title">Распродажа! Дизайнерская мебель со скидками до 65%!</h6>
                <p class="coups__item-p">Действителен до 31 июля  2018, 23:59</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="coups__href"><span class="label">Открыть</span><span class="code">Твой промокод</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="coups__item">
            <div class="row">
              <div class="col-12">
                <h6 class="coups__item-title">Распродажа! Дизайнерская мебель со скидками до 65%!</h6>
                <p class="coups__item-p">Действителен до 31 июля  2018, 23:59</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="coups__href"><span class="label">Открыть</span><span class="code">Твой промокод</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="coups__item">
            <div class="row">
              <div class="col-12">
                <h6 class="coups__item-title">Распродажа! Дизайнерская мебель со скидками до 65%!</h6>
                <p class="coups__item-p">Действителен до 31 июля  2018, 23:59</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="coups__href"><span class="label">Открыть</span><span class="code">Твой промокод</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="coups__item">
            <div class="row">
              <div class="col-12">
                <h6 class="coups__item-title">Распродажа! Дизайнерская мебель со скидками до 65%!</h6>
                <p class="coups__item-p">Действителен до 31 июля  2018, 23:59</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="coups__href"><span class="label">Открыть</span><span class="code">Твой промокод</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
