<section class="usage">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h5 class="usage__title">Как пользоваться промо кодом</h5>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<div class="usage__titles">
						<h6 class="usage__subtitle">Найдите промокод</h6>
						<p class="usage__text">На нашем сайте Вы найдёте большое количество промокодов, с помощью которых Вы сможете совершать покупки в Интернете по выгодным ценам! Найти интересующий Вас промокод очень просто:</p>
					</div>
					<ul class="usage__instruction">
						<li>1.Вы ищите промокод в соответствующей категории или магазине</li>
						<li>2.Найдя его, нажимаете на промокод для получения скидки</li>
						<li>3.Копируете промокод, который появился у Вас на экране</li>
					</ul>
					<span class="usage__instruction_span">1</span>
				</div>
				<div class="col-md-4">
					<div class="usage__titles">
						<h6 class="usage__subtitle">Выберите товар</h6>
						<p class="usage__text">На нашем сайте Вы найдёте большое количество промокодов, с помощью которых Вы сможете совершать покупки в Интернете по выгодным ценам! Найти интересующий Вас промокод очень просто:</p>
					</div>
					<ul class="usage__instruction">
						<li>Вы нашли подходящий товар и готовы оформить покупку в интернет-магазине? Просто добавьте товары, которые хотите приобрести, в корзину!</li>
					</ul>
					<span class="usage__instruction_span">2</span>
				</div>
				<div class="col-md-4">
					<div class="usage__titles">
						<h6 class="usage__subtitle">Введите промокод</h6>
						<p class="usage__text">Вы добавили всё что Вам нужно в корзину? Тогда настало время воспользоваться промокодом. Сделать это черезвычайно просто:</p>
					</div>
					<ul class="usage__instruction">
						<li>1.Введите промокод в соответствующую графу</li>
						<li>2.Скидку Вы получите автоматически при покупке</li>
					</ul>
					<span class="usage__instruction_span">3</span>
				</div>
			</div>
		</div>
	</section>
