<section class="recomendation-goods">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
          <h2 class="recomendation-goods__title">Рекомендуемые товары</h2>
      </div>
    </div>
  </div>
  <div class="recomendation-goods__slider">
    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-chair.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-computer-chair.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-sofa.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-cupboard.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-table.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-bed.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-office.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

    <div class="recomendation-goods__slider-item">
      <a class="recomendation-goods__item" href="#">
        <div class="recomendation-goods__item-pic">
          <img class="recomendation-goods__item-img" src="img/category-mattress.png" alt="">
        </div>
        <h6 class="recomendation-goods__item-title">Обеденная группа для кухни Милан-2</h6>
        <div class="recomendation-goods__item-rating d-flex">
          <ul class="recomendation-goods__item-stars d-flex">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
          </ul>
          <span class="recomendation-goods__item-count">5</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <span class="recomendation-goods__item-price">
            15 999 руб
          </span>
          <button class="recomendation-goods__item-add" type="button" name="button">
            <img src="img/korplus.svg" alt="">
          </button>
        </div>
      </a>
    </div>

  </div>
</section>
