<!--section class="same-articles d-none d-md-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-7">
        <a href="#" class="same-articles__item">
          <div class="row">
            <div class="col-md-5">
              <div class="same-articles__img" style="background-image:url('img/same1.jpg');">
              </div>
            </div>
            <div class="col-md-7">
                <h2 class="same-articles__title">Как надо: декор небольшого пространства</h2>
                <p class="same-articles__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
                <div class="same-articles__description">
                  <span class="same-articles__author">Василий Лейкин</span>
                  <span class="same-articles__date">Август 3</span>
                  <span class="same-articles__time">6 минут чтения</span>
                </div>
            </div>
          </div>
        </a>
        <a href="#" class="same-articles__item">
          <div class="row">
            <div class="col-md-7">
              <h2 class="same-articles__title">Как надо: декор небольшого пространства</h2>
              <p class="same-articles__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
              <div class="same-articles__description">
                <span class="same-articles__author">Василий Лейкин</span>
                <span class="same-articles__date">Август 3</span>
                <span class="same-articles__time">6 минут чтения</span>
              </div>
            </div>
            <div class="col-md-5">
              <div class="same-articles__img" style="background-image:url('img/same2.jpg');">
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section-->
<section class="same-articles-after ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 class="same-articles-after__title">Смотрите также</h2>
      </div>
    </div>
  </div>
  <div class="same-articles-after__slider">
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same2.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
    <div class="same-articles-after__slide">
      <a href="#" class="same-articles-after__item">
        <div class="same-articles-after__img" style="background-image:url('img/same1.jpg');">
        </div>
        <h2 class="same-articles-after__title-slide">Как надо: декор небольшого пространства</h2>
        <p class="same-articles-after__text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании систем массового участия.</p>
      </a>
    </div>
  </div>
</section>
