
.blog__category {
	margin-top: -24px;
	& ul {
		width:100%;
		padding:8px 13px 5px 13px;
		background:#f3f3f3;
		border-radius:3px;
		margin-bottom:30px;
	}
	& li {
		margin-bottom:5px;
	}
	&_link {
		color: #333;
		line-height:25px;
		transition: 0.3s ease;
		&:after {
			content:'';
			display:block;
			width:175px;
			height:1px;
			margin-top:9px;
			background:#ccc;
		}
		&:hover {
			color: #f90;
			transition: 0.3s ease;
		}
		&-last:after {
			content:none;
		}
	}
}