
#card-main{
	border-top: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	position: relative;
	height: 602px;
}

#other-card h2 {
	margin-top: 32px;
	margin-bottom: 24px;
}

#card-main .card__specification_characteristics {
	padding-top: 14px;
	position: relative;
	z-index: 10;
}

#card-main.card__descr_texture {
	padding-top: 11px;
}

#card-main.card__descr_texture {
	display: block;
}

#card-main.set-listing__descr_color {
	margin-left: 0;
	margin-top: 3px;
}

#card-main.card__descr_color {
	padding-top: 20px;
}

#card-main.card__specification_characteristics h4 {
	margin-bottom: 2px;
}

#card-main.card__characteristics_text {
	line-height: 20px;
	font-size: 12px;
	padding-right: 110px;
}