
#listing .bread-crumbs {
	margin-bottom:27px;
}

.listing {
	& .blog__category {
		margin-top:-45px;
	}
	&__item {
		position:relative;
		margin-bottom:20px;
		display:flex;
		flex-flow: row wrap;
		&_top {
			display:flex;
			flex-flow: row wrap;
			align-items:baseline;
			justify-content: space-between;
		}
		&_link {
			font-size:12px;
			color:#00b8f6;
		}
		&_img {
			margin-right:22px;
			width:295px;
		}
		&_descr {
			width:784px;
			padding-right: 20px;
		}
		&_main {
			& h3 {
				margin-top:8px;
				margin-bottom:15px;
				color: #333;
			}
			& p {
				line-height:25px;
			} 
		}
		&_bottom {
			position:absolute;
			bottom:0;
			& img {
				margin-top:-2px;
				margin-right: 8px;
				display: inline-block;
			}
		}
	}
	& .more-btn {
		margin-top: 10px;
	}
}



