
#no-result {
	& h2 {
		margin: 180px 0 0px;
	}
	& p {
		font-size: 18px;
		margin: 13px auto 23px;
		line-height: 32px;
		width: 406px;
	}
	& .cta-btn__full {
		width: 220px;
		margin: 0 auto 100px;
	}
}