.visual-search {
  display: none;
  &__preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    &-content {
      margin: 0 auto;
    }
    &-text {
      font-size: 30px;
      text-align: center;
    }
  }
}
