
.promo-catalog{
  padding: 2em 0;
  &__filter_fix {
    position: fixed;
    padding: 2em 0;
    top: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(255, 255, 255) 20%,rgba(125,185,232,0) 100%);
    z-index: 99;
  }
  &__filter-group-btn{
    display: block;
    margin-bottom: 10px;
  }
  &__filter-toggler{
    text-align: center;
    color: #666;
    img{
      margin-left: 5px;
    }
  }
  &__filter_navbar{
    padding: 20px 0px;
  }
  &__filter-btn{
    background: initial;
    border: none;
    color: #666;
    padding: 5px 10px;
    margin: 5px 0;
    &.disable {
      pointer-events: none;
      opacity: .5;
    }
    &.active{
      background-color: #eee !important;
      color: #333 !important;
      box-shadow: none !important;
    }
    &:hover,&:active{
      background-color: #eee !important;
      color: #333 !important;
      box-shadow: none !important;
    }
    &:focus{
      box-shadow: none !important;
    }
  }
  &__alphabet{
    padding: 20px 0;
    &-title{
      color: #1e91d3;
      border-bottom: 1px solid #f7f7f7;
      padding-bottom: 10px;
      margin: 0;
    }
    &-item{
      padding: 20px 0;
    }
    &-link{
      width: 100%;
      display: inline-block;
      font-size: 18px;
      color: #333;
      &:hover{
        color: #333;
        text-decoration: underline;
      }
    }
    &-addition{
      font-size: 14px;
      color: #bbbbbb;
    }
  }
}
@include media-breakpoint-down(md) {
  .promo-catalog__filter_navbar {
    background: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
  }
}
