button:focus, button:active {
	box-shadow: none;
	outline: none;
}
.header-selection-furniture{
	background: url(../img/header-selection-furniture.svg) no-repeat;
	background-size: 100%;
	text-align: center;
	@include media-breakpoint-up(md){
		text-align: right;
	}
	z-index: 100;
	&__title{
		margin-top: 84px;
		font-size: 36px;
		line-height: 40px;
		@include media-breakpoint-up(md){
			font-size: 48px;
			line-height: 56px;
		}
		color: #333333;
		text-align: center;
	}
	&__info{
		margin-top: 33px;
		@include media-breakpoint-up(md){
			margin-top: 48px;
		}
		font-size: 18px;
		line-height: 32px;
		color: #333333;
		text-align: center;
	}
	&__form{
		margin-top: 55px;
		padding: 20px;
		padding-bottom: 40px; 
		@include media-breakpoint-up(md){
			padding: 40px;
			margin-top: 93px;
		}
		background-color: #FFFFFF;
		border-radius: 20px;
		box-shadow: 0 30px 50px rgba(0,0,0,0.1);
		transition: box-shadow 500ms;
		cursor: pointer;
		transition: 0.3s ease;
		&_title{
			font-size: 24px;
			line-height: 28px;
			color: #333333;
			text-align: center;
		}
		&_info{
			margin-top: 16px;
			font-size: 16px;
			line-height: 28px;
			color: #4F4F4F;
			text-align: center;
		}
		&_textarea{
			margin-top: 28px;
			width: 100%;
			height: 150px;
			@include media-breakpoint-up(md){
				height: 300px;
			}
			border-radius: 3px;
			border: 1px #CCCCCC solid;
			resize: none;
			padding: 20px;
			font-size: 16px;
			line-height: 19px;
			color: #333333;

		}
		&_textarea:focus{
			outline: 0;
			box-shadow: none;
			border: 2px #FF9900 solid;
		}
		&_label{
			margin-top: 40px;
			display: block;
			font-size: 18px;
			line-height: 21px;
			color: #333333;
			text-align: left;			
		}
		&_email{
			margin-top: 5px;
			height: 50px;
			width: 100%;
			border-radius: 3px;
			border: 1px #CCCCCC solid;
			padding-left: 20px;
		}
		&_email::placeholder{
			font-size: 16px;
			line-height: 19px;
			color: #999999;
		}
		&_email:focus{
			border: 2px #FF9900 solid;
		}
		&_button{
			margin-top: 30px;
			width: 211px;
			@include media-breakpoint-down(xs){
				width: 100%;
			}
			height: 50px;
			border-radius: 500px;
			background-color: #0077CC;
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
			text-align: center;
			border: 0;
			cursor: pointer;
			transition: 0.3s ease;
		}
		&_button:hover{
			background-color: #0492f7;
			color:  #FFFFFF;
			transition: 0.3s ease;
		}
	}
	@include media-breakpoint-up(md){
		&__form:hover{
			transform: scale(1.05);
			transition: 0.3s ease;
			box-shadow: 0 30px 70px rgba(0,0,0,0.1);
		}
	}
}

.condition{
	padding: 54px 20px;
	border: 1px #E9E9E9 solid;
	background-color: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0 30px 50px rgba(0,0,0,0.1);
	text-align: center;
	cursor: pointer;
	transition: box-shadow 500ms;
	margin-bottom: 30px;
	@include media-breakpoint-up(lg){
		padding: 98px 20px;
		margin-bottom: 0px;
	}
	&__circle{
		margin: 0 auto;
		width: 80px;
		height: 80px;
		background: linear-gradient(to left, #BBE334, #819D21);
		border-radius: 40px;
	}
	img{
		margin: 0 auto;
		width: 80px;
		height: 80px;
	}
	&__title{
		margin-top: 25px;
		@include media-breakpoint-up(md){
			margin-top: 40px;
		}
		font-size: 24px;
		line-height: 28px;
		color: #333333;
		text-transform: uppercase;
	}
	&__info{
		margin-top: 18px;
		@include media-breakpoint-up(md){
			margin-top: 30px;
		}
		font-size: 16px;
		line-height: 28px;
		color: #666666;

	}
}
@include media-breakpoint-up(md){
	.condition:hover{
		transform: scale(1.05);
		transition: 0.3s ease;
		box-shadow: 0 30px 70px rgba(0,0,0,0.1);
	}
}

.how-it-work{
	padding-top: 100px;
	text-align: center;
	position: relative;
	@include media-breakpoint-up(md){
		padding-top: 150px;
	}
	&__title{
		padding-top: 100px;
		font-size: 36px;
		line-height: 40px;
		@include media-breakpoint-up(md){
			padding-top: 150px;
			font-size: 48px;
			line-height: 56px;
		}
		color: #333333;
	}
	&__info{
		margin-top: 20px;
		@include media-breakpoint-up(md){
			margin-top: 47px;
		}
		font-size: 18px;
		line-height: 32px;
		color: #666666;
	}
	&__step{
		margin-top: 65px;
		@include media-breakpoint-up(lg){
			margin-top: 100px;
		}
		position: relative;
		&_circle-out{
			margin: 0 auto;
			border: 2px #0077CC solid;
			width: 100px;
			height: 100px;
			border-radius: 50px;
			padding: 8px;
			background-color: #FFFFFF;
			cursor: pointer;
		}
		@include media-breakpoint-up(md){
			&_circle-out:hover{
				transform: scale(1.15);
				transition: 0.3s ease;
			}
		}
		&_circle-in{
			padding-top: 9px;
			width: 80px;
			height: 80px;
			background: linear-gradient(to left, #1391EC, #0E69AA);
			border-radius: 40px;
			font-style: bold;
			font-size: 36px;
			line-height: 63px;
			color: #FFFFFF;
		}
		@include media-breakpoint-down(sm){
			&_line, &_circle-small{
				display: none;
			}
		}
		@include media-breakpoint-down(md){
			&_line-md-no, &_circle-small-md-no{
				display: none;
			}
		}
		@include media-breakpoint-up(md){
			&_line, &_line-md-no{
				position: absolute;
				width: 100%;
				top: 40px;
				left: 60%;
				z-index: -10;
			}
			&_circle-small, &_circle-small-md-no{
				position: absolute;
				top: 40px;
				left: 100%;
				width: 30px;
				height: 30px;
				background: linear-gradient(to left, #BBE334, #819D21);
				border-radius: 15px;
			}
		}

		&_description{
			margin-top: 40px;
			font-size: 16px;
			line-height: 28px;
			color: #333333;
		}
	}
	@include media-breakpoint-down(md){
		&__background-1, &__background-2, &__background-3, &__background-4{
			display: none;
		}
	}

	@include media-breakpoint-up(md){
		&__background-1{
			position: absolute;
			top: -10px;
			left: 200px;
			transform: rotate(36.84deg);
			z-index: -10;
		}
		&__background-2{
			position: absolute;
			top: 450px;
			left: 350px;
			transform: rotate(36.84deg);
			z-index: -10;
		}
		&__background-3{
			position: absolute;
			top: 0px;
			left: 700px;
			transform: rotate(36.84deg);
			z-index: -10;
		}
		&__background-4{
			position: absolute;
			top: 370px;
			left: 840px;
			transform: rotate(36.84deg);
			z-index: -10;
		}
	}
}

.last-application{
	padding-top: 120px;
	@include media-breakpoint-up(md){
		padding-top: 200px;
	}
	background: url(../img/background-last-application.svg) no-repeat;
	background-size: 100%;
	&__title{
		font-size: 36px;
		line-height: 40px;
		text-align: center;
		color: #333333;
		margin-bottom: 80px;
		@include media-breakpoint-up(md){
			font-size: 48px;
			line-height: 56px;
			margin-bottom: 124px;
		}
	}
	&__info{
		margin-top: 38px;
		font-size: 18px;
		line-height: 32px;
		text-align: center;
		color: #666666;
		margin-bottom: 80px;
		@include media-breakpoint-up(md){
			margin-bottom: 124px;
		}
	}
	&__user-message, &__company-message{
		position: relative;
		margin-top: 30px;
		&_photo{
			position: absolute;
			top: 10px;
			@include media-breakpoint-up(md){
				top: -80px;
			}
		}
		&_wrap{
			padding: 86px 40px 21px;
			@include media-breakpoint-up(md){
				padding-top: 36px;
			}
			background-color: #FFFFFF;
			box-shadow: 0 30px 50px rgba(0,0,0,0.1);
		}
		&_username{
			font-style: bold;
			font-size: 16px;
			line-height: 19px;
			color: #333333;
			font-weight: bold;
		}
		&_text, &_text-end, &_text-end-mob{
			margin-top: 16px;
			font-size: 14px;
			line-height: 25px;
			color: #666666;

		}
		&_text-end {
			display: none;
			@include media-breakpoint-up(sm){
				display: inline;
			}
		}
		
		&_button-show{
			background: white;
			width: auto;
			color: #0077CC;
			border: none;
			height: auto;
			display: block;
			@include media-breakpoint-up(sm){
				display: none;
			}
		}
	}
	&__user-message{
		text-align: left;
		&_photo{
			left: 0;
		}
		&_wrap{
			border-radius: 0 25px 25px 25px;
		}

	}
	&__company-message{
		text-align: right;

		&_photo{
			right: 0;
		}
		&_wrap{
			border-radius: 25px 0 25px 25px;
			margin-top: 45px;
			@include media-breakpoint-up(lg){
				margin-top: 0px;
			}
		}

	}
	&__create{
		padding: 20px;
		padding-bottom: 40px;
		@include media-breakpoint-up(md){
			padding: 40px;
		}
		margin-top: 85px;
		margin-bottom: 100px;
		border: 1px #E9E9E9 solid;
		border-radius: 20px;
		background-color: #FFFFFF;
		box-shadow: 0 30px 50px rgba(0,0,0,0.1);
		text-align: center;
		transition: box-shadow 500ms;
		cursor: pointer;
		transition: 0.3s ease;
		&_title{
			font-size: 24px;
			line-height: 36px;
			@include media-breakpoint-up(md){
				line-height: 42px;
			}
			color: #333333;
		}
		&_info{
			margin-top: 21px;
			font-size: 18px;
			line-height: 32px;
			color: #666666;
		}
		&_button{
			margin-top: 34px;
			width: 211px;
			height: 50px;
			border-radius: 500px;
			background-color: #0077CC;
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
			border: 0;
			cursor: pointer;
			transition: 0.3s ease;
		}
		&_button:hover{
			background-color: #0492f7;
			color: #FFFFFF;
			transition: 0.3s ease;
		}
	}
	@include media-breakpoint-up(md){
		&__create:hover{
			transform: scale(1.05);
			transition: 0.3s ease;
			box-shadow: 0 30px 70px rgba(0,0,0,0.1);
		}
	}
}

.last-application-modal{
	text-align: right;
	//width: 767px;
	&__content{
		text-align: right;
	}
	&__button-close{
		margin: 0;
		padding: 0;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 16px;
		height: 16px;
		cursor: pointer;
		background-color: #fff;
	}

	&__button-close:before, &__button-close:after {
		position: absolute;
		top: 0px;
	    left: 7px;
		content: ' ';
		height: 16px;
		width: 2px;
		background-color: #333;
	}
	&__button-close:before {
		transform: rotate(45deg);
	}
	&__button-close:after {
		transform: rotate(-45deg);
	}
	&__form{
		margin-top: 0px;
		padding: 20px;
		padding-bottom: 40px;
		background-color: #FFFFFF;
		box-shadow: 0 30px 50px rgba(0,0,0,0.1);
		transition: box-shadow 500ms;
		cursor: pointer;
		transition: 0.3s ease;
		&_title{
			margin-top: 40px;
			font-size: 24px;
			line-height: 28px;
			color: #333333;
			text-align: center;
		}
		&_info{
			margin-top: 16px;
			font-size: 16px;
			line-height: 28px;
			color: #4F4F4F;
			text-align: center;
		}
		&_textarea{
			margin-top: 28px;
			width: 100%;
			height: 150px;
			border-radius: 3px;
			border: 1px #CCCCCC solid;
			resize: none;
			padding: 20px;
			font-size: 16px;
			line-height: 19px;
			color: #333333;

		}
		&_textarea:focus{
			outline: 0;
			box-shadow: none;
			border: 2px #FF9900 solid;
		}
		&_label{
			margin-top: 40px;
			display: block;
			font-size: 18px;
			line-height: 21px;
			color: #333333;
			text-align: left;			
		}
		&_email{
			margin-top: 5px;
			height: 50px;
			width: 100%;
			border-radius: 3px;
			border: 1px #CCCCCC solid;
			padding-left: 20px;
		}
		&_email::placeholder{
			font-size: 16px;
			line-height: 19px;
			color: #999999;
		}
		&_email:focus{
			border: 2px #FF9900 solid;
		}
		&_button{
			margin-top: 30px;
			width: 211px;
			@include media-breakpoint-down(xs){
				width: 100%;
			}
			height: 50px;
			border-radius: 500px;
			background-color: #0077CC;
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
			text-align: center;
			border: 0;
			cursor: pointer;
			transition: 0.3s ease;
		}
		&_button:hover{
			background-color: #0492f7;
			color:  #FFFFFF;
			transition: 0.3s ease;
		}
	}
}

.modal-window-error{
	text-align: left;
	display: block;
	font-size: 12px;
	line-height: 20px;
	color: #DC3545;
	margin-bottom: -20px;
	
	&__input_no{
		border: 2px #008000 solid;
	}

	&__input{
		border: 2px #DC3545 solid;
	}

	&__textarea_no{
		border: 2px #008000 solid;
	}

	&__textarea{
		border: 2px #DC3545 solid;
	}
}
