body{
  padding-top: 2.5em;
}
img{max-width: 100%;max-height:100%;transition: all .2s;}
a{
  color: $gray-800;
  transition: all .2s;
  &:hover{
    text-decoration: none;
    color: $gray-600;
  }
}
h1,h2,h3,h4{
  font-weight: bold;
}
.section{padding: 2rem 0;}
.slick-slider{margin: 0 -0.625rem;}
.slick-slide{padding: 0 .625rem;}
.img-round{
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 0.5rem;
  img{
    width:100%;
  }
}
.fa-star{color: $yellow;margin-right: 3px;}
.rating-count{margin-left: 6px;}
.text-through{text-decoration:line-through;}
.text-small{font-size: .9em;}
.nav-tabs,.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border: none;
  margin-bottom: .625em;
}
.nav-tabs .nav-link{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-right: 1.25em;
  border: none;
  color: $gray-500;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  border: none;
  border-bottom: 3px solid $orange;
  color: $gray-800;
}

/* Хлебные крошки */
.breadcrumb {
    background: inherit;
    padding: 0;
    font-size: 0.875em;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: "●";
    font-size: 0.625em;
}
/*.btn-group,button {
    margin: .625em 0;
}*/
.bg-dark{
  color: #fff;
  .breadcrumb {
    a{
      color: $gray-500;
      &:hover{
        color: $gray-100;
      }
    }
    .active{
      a{
        color: $gray-100;
      }
    }
  }
  .breadcrumb-item + .breadcrumb-item::before {
      color:#fff;
  }
}

.nav-item{
  position: relative;
  &:hover{
    .nav-link{
          background: #36aaec;
    }
    .dropdown-menu{
      display: block;
      font-size: 0.825em;
      border-radius: 0 0 3px 3px;
      margin-top: 0px;
    }
  }
}
.dropdown-toggle::after{
  content: none;
}

/* Tabs */
.tabs {
  width: auto; height: 40px;

  display: flex;
}

.tab {
	padding: 0 15px;
  width: auto; height: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgba(#000, .3);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
	user-select: none;

  transition: .35s ease;


  &#{&}--active {
    color: rgba(#000, 1);
    transition: .35s ease;
  }

  &:hover {
    color: rgba(#333, 1) !important;
    transition: .35s ease;
  }
}

.line {
  width: 100%; height: 3px;

  position: absolute;
  left: 0; bottom: 0;

  background: linear-gradient(
    to right,
    #b721ff,
    #21d4fd
  );

  clip-path: polygon(
		var(--left-side) 0,
		var(--right-side) 0,
		var(--right-side) 100%,
		var(--left-side) 100%
	);

  transition: .35s ease;
}

.filter{
  input{
    margin-right: .625em;
  }
}
ul {
    list-style-type: none;
}
