#wrap {
	padding-top:40px;
}

.wrap {
	border-radius:3px;
	display:flex;
	padding: 0;
	flex-flow: row wrap;
	&__in-cart {
		width:auto;
		height:auto;
		position: relative;
		display: flex;
		padding-right: 25px;
		flex-direction: column;
		&:after {
			content: '';
			background: #ccc;
			width: 1px;
			height: 130px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
		}
		&_text {
			color: #808080;
			line-height:19px;
			margin: 15px 0 23px;
		}
		& .cta-btn__full {
			display: block;
			text-align: center;
			width: 200px;
			line-height: 37px;
		}
	}
	.product-slider__wrap {
		width: 81%;
		margin-left: 20px;
	}
	&-slider {
		&_slide {
			display: block;
			margin: 0 10px;
		}
	}
	& .slick-list {
		padding: 0;
	}
	&-item {
		width: 256px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		&__pic {
			width: 128px;
			height: 128px;
			& img {
				width: 100%;
				height: 100%;
			}
		}
		&__descr {
			width: 114px;
			color: #333;
			&:hover {
				color:#333;
			}
			&_title {
				line-height: 22px;
				margin-bottom: 6px;
				&:hover {
					text-decoration: underline;
				}
			}
			&_price {
				font-weight: 700;
			}
		}
	}
}